#center {
    width:1050px; margin:0 auto 0 auto;
}
 .buttons {
            font-size: 11px;
            font-weight: bold;
            font-family:  Arial;
            color: #ffffff;
            min-width: 54px;
       height: 24px; 
       white-space: nowrap;   
       cursor: pointer;  
       outline: 0 none;
       padding: 0 10px 2px;
       text-align: center;
       border-radius: 2px 2px 2px 2px;
       border: 1px solid #4980C1;
       filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5384BE', endColorstr='#4386D7'); /* for IE */
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5384BE', endColorstr='#4386D7'); /* for IE 8 and above */
background: -webkit-gradient(linear, left top, left bottom, from(#5384BE), to(#4386D7)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #5384BE, #4386D7); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #5384BE, #4386D7); /* for Opera */
        }
 .buttons:hover
{
    cursor: pointer;    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=' #85B6F0',
 endColorstr='#579AEB'); /* for IE */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=' #85B6F0',
    endColorstr='#579AEB'); /* for IE 8 and above */
    background: -webkit-gradient(linear, left top, left bottom, from(#85B6F0),
    to(#579AEB)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #85B6F0, #579AEB); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #85B6F0, #579AEB); /* for Opera */
}
 fieldset {
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 5px #828282;
    -moz-box-shadow: 5px 5px 5px #828282;
    box-shadow: 5px 5px 5px #828282;
    background-color:#B3F46D;
    text-align:center;
    width: 392px;
    margin: 0 auto 0 auto;
}
